@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2D4A3E;
  --color-secondary: #F5F5F0;
  --color-accent: #E4E3E0;
  --font-serif: "Lora", serif;
  --font-sans: "Roboto", sans-serif;
}


body {
  @apply bg-secondary text-black antialiased font-sans text-[16px] leading-[1.6];
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-semibold text-primary;
}

.glass-card {
  @apply bg-white/10 backdrop-blur-md border border-white/20;
}

button {
  @apply  tracking-tighter font-bold;
}
